* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.about {
	width: 1150px;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 70px;
	border-bottom: 1px solid #333;
}
.about__title {
	font-family: Arial;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: normal;
	text-align: center;
	color: #333333;
	margin-bottom: 35px;
}
.about__text {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: normal;
	text-align: center;
	color: #333333;
	margin-bottom: 35px;
}
.about__container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 35px;
}
.about__item {
	width: 30%;
}
.about__logo {
	text-align: center;
	margin-bottom: 5px;
}
.about__text1_title {
	text-align: center;
	margin-bottom: 7px;
	font-weight: 500;
	font-size: 16px;
	color: #333333;
}
.about__text1_text {
	text-align: center;
	color: #4F4F4F;
}
.about__button {
	margin: 0 auto;
	width: 430px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.about__button_btn {
	font-family: Arial;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: normal;
	color: #FFFFFF;
	background: #55A462;
	border-radius: 4px;
	padding: 10px 12px 13px 12px;
}
.news {
	width: 1150px;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 70px;
}
.news__title {
	font-family: Arial;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	margin-bottom: 35px;
}
.news__wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.news__item {
	padding-bottom: 30px;
}
